* {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
margin: 0;
padding: 0;
}

/* zocial */
[class*="zocial-"]:before {
font-family: 'zocial', sans-serif;
}

body {
background-color: #E4DCCA;
}

#overLay {
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: #ABAA9E;
opacity: 0.6;
display: none;
z-index:998;

}

.absolute {
position: absolute;
left: 10%;
z-index: 999;
}

.me {
font-size: 1.6em;
padding: 3% 0 0 5%;
background-image: url("../images/me2.jpg");
background-position: 50% 55%;
background-size: cover;
width: 100%;
height: 3.5em;
color: #82827E;
font-family: 'Dancing Script', cursive;
}

header {
width: 100%;
max-width: 100%;
border-bottom: 2px solid silver;
position: fixed;
top: 0;
left: 0;
z-index: 10;
}

header h3, header h4{
position: fixed;
top: 0;
right: 0;
text-align: right;
font-family: 'Open Sans Condensed', sans-serif;
color: #FFF;
font-style: italic;
margin-right: 3em;

}

header h4 {
top: 2em;
color: #C0C0BA;
}

header div.about-me-container {
position: fixed;
top: 0.7em;
margin-left: 1em;
color: #C8BCC6;
}

header h5 {
display: inline;
font-size: 1.3em;
cursor: pointer;
}


#main img {
max-width: 100%;
-moz-transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
cursor: pointer;
}

#main {
width: 100%;
max-width: 100%;
min-width: 300px;
margin-top: 6em;
/*margin-bottom: 1.5em;*/
margin-left: auto;
margin-right: auto;
height: 500px;
overflow-y: auto;
overflow-x: hidden;
text-align: center;
}

#photography {
  margin-bottom: 1em;
}

.nav-pills li a {
background-color: #d4c5be;
color: #635245;
padding: 8px 15px;
border-radius: 4px 4px 0 0;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
background-color: #8E7F79;
}

#home {
border: 1px solid #BBB8B7;
}

#photography {
border-top: 1px solid #BBB8B7;
}

#home {
padding: 1em 2.2em;
margin: 0 auto 1em auto;
color: #615D5C;
text-align:left;
width: 100%;
max-width: 100%;
height: 100%;
overflow-y:auto;
font-size: 1.1em;
border-radius:  0 4px 4px 4px;

}

#home div {
margin-top: 4px;
}

#home .home-image-1 {
float: left;
margin: 0 10px 10px 0;
max-width: 100%;
}

#home .home-image-2 {
float: right;
margin: 0 0 10px 10px;
max-width: 100%;
}

#home .home-image-3 {
float:left;
margin: 1em 1em 0 0;
}

div.homelink span {
cursor: pointer;
font-size: 1.6em;
}

.subtitle {
color: #8B8A84;
text-align: left;
}

.morelink {
padding-top: 1em;
padding-bottom: 1em;
cursor: pointer;
}


section.row {
width: 100%;
margin: 0.5% auto 0.5% auto;
}

#main img {
border-radius: 8px;
}


#main section.home img{
height: 200px;
width: 100%;
}

/* NOTE hidding the first row also here, may put it back later*/
#main section.home {
display: none;
}

#main section.home figure {
width: 98%;
margin: 1%;
}


#main section.content:nth-child(1) {
display: -webkit-flex; /* Safari */
display: flex;
}

#main figure {
width: 31%;
width: calc((100% / 3) - 2%);
margin: 1%;
}

#main section.content figure:last-of-type {
margin-right: 0;
}


figcaption {
font-family: 'Dancing Script', cursive;
font-size: 1.1em;
margin-top: 0.2em;
}

figcaption a {
cursor: pointer;
}

figcaption a:hover {
color: #959491;
}

footer {
border-top: 2px solid silver;
clear:both;
font-size: 1.2em;
position: fixed;
bottom: 0;
padding: 8px;
text-align: right;
width: 100%;
background-color: #616161;
max-width: 100%;
margin-left: auto;
margin-right: auto;
height: 2.5em;
z-index: 10;
}

footer a:nth-child(1) {
color: #e4dcca;
opacity: 0.6;
font-size: 0.9em;
}

footer span {
margin-left: 4px;
margin-right: 12px;
color: #B2B2AE;
font-size: 0.9em;
}

footer span:hover, footer a:hover {
text-decoration:none;
cursor: pointer;
color: #ABA699;

}

#more {
    display: none;
}

#more::after{
content: "placeholder";
visibility: hidden;
margin-bottom: 1em;
}

.modal-header, .modal-footer button {
color: #746E76;
font-family: 'Dancing Script', cursive;
}

.modal-header, .modal-footer{
background-color: #C0BEB8;

}

.modal-body {
background-color: #D3D2CE;
}

.modal-body img {
float: left;
margin: 0 10px 10px 0;
}

.tooltip-inner {
background-color: #90848D;
color: #fff;
}

.tooltip.left .tooltip-arrow{
border-left-color: #90848D;
}

.tooltip.top .tooltip-arrow {
border-top-color: #90848D;
}

.tooltip.right .tooltip-arrow {
border-right-color: #90848D;
}

.tooltip.bottom .tooltip-arrow {
border-bottom-color: #90848D;
}

.img-responsive {
margin: auto;
}

/* latin */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: local('Dancing Script'), local('DancingScript'), url(https://fonts.gstatic.com/s/dancingscript/v7/DK0eTGXiZjN6yA8zAEyM2ZsM3FTMmj2kTPH3yX99Yaw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/*from url(http://weloveiconfonts.com/api/?family=zocial);*/
@charset "UTF-8";
@font-face {
  font-family: 'zocial';
  font-style: normal;
  font-weight: normal;
  src: url('http://weloveiconfonts.com/api/fonts/zocial/zocial-regular-webfont.eot');
  src: url('http://weloveiconfonts.com/api/fonts/zocial/zocial-regular-webfont.eot?#iefix') format('eot'),
  url('http://weloveiconfonts.com/api/fonts/zocial/zocial-regular-webfont.woff') format('woff'),
  url('http://weloveiconfonts.com/api/fonts/zocial/zocial-regular-webfont.ttf') format('truetype'),
  url('http://weloveiconfonts.com/api/fonts/zocial/zocial-regular-webfont.svg#zocialregular') format('svg');
}
.zocial-acrobat:before{content:"\00E3"}.zocial-amazon:before{content:"a"}.zocial-android:before{content:"&"}.zocial-angellist:before{content:"\00D6"}.zocial-aol:before{content:"\""}.zocial-appnet:before{content:"\00E1"}.zocial-appstore:before{content:"A"}.zocial-bitbucket:before{content:"\00E9"}.zocial-bitcoin:before{content:"2"}.zocial-blogger:before{content:"B"}.zocial-buffer:before{content:"\00E5"}.zocial-call:before{content:"7"}.zocial-cal:before{content:"."}.zocial-cart:before{content:"\00C9"}.zocial-chrome:before{content:"["}.zocial-cloudapp:before{content:"c"}.zocial-creativecommons:before{content:"C"}.zocial-delicious:before{content:"#"}.zocial-digg:before{content:";"}.zocial-disqus:before{content:"Q"}.zocial-dribbble:before{content:"D"}.zocial-dropbox:before{content:"d"}.zocial-drupal:before{content:"\00E4"}.zocial-dwolla:before{content:"\00E0"}.zocial-email:before{content:"]"}.zocial-eventasaurus:before{content:"v"}.zocial-eventbrite:before{content:"|"}.zocial-eventful:before{content:"'"}.zocial-evernote:before{content:"E"}.zocial-facebook:before{content:"f"}.zocial-fivehundredpx:before{content:"0"}.zocial-flattr:before{content:"%"}.zocial-flickr:before{content:"F"}.zocial-forrst:before{content:":"}.zocial-foursquare:before{content:"4"}.zocial-github:before{content:"g"}.zocial-gmail:before{content:"m"}.zocial-google:before{content:"G"}.zocial-googleplay:before{content:"h"}.zocial-googleplus:before{content:"+"}.zocial-gowalla:before{content:"@"}.zocial-grooveshark:before{content:"8"}.zocial-guest:before{content:"?"}.zocial-html5:before{content:"5"}.zocial-ie:before{content:"6"}.zocial-instagram:before{content:"\00DC"}.zocial-instapaper:before{content:"I"}.zocial-intensedebate:before{content:"{"}.zocial-itunes:before{content:"i"}.zocial-klout:before{content:"K"}.zocial-lanyrd:before{content:"-"}.zocial-lastfm:before{content:"l"}.zocial-linkedin:before{content:"L"}.zocial-macstore:before{content:"^"}.zocial-meetup:before{content:"M"}.zocial-myspace:before{content:"_"}.zocial-ninetyninedesigns:before{content:"9"}.zocial-openid:before{content:"o"}.zocial-opentable:before{content:"\00C7"}.zocial-paypal:before{content:"$"}.zocial-pinboard:before{content:"n"}.zocial-pinterest:before{content:"1"}.zocial-plancast:before{content:"P"}.zocial-plurk:before{content:"j"}.zocial-pocket:before{content:"\00E7"}.zocial-podcast:before{content:"`"}.zocial-posterous:before{content:"~"}.zocial-print:before{content:"\00D1"}.zocial-quora:before{content:"q"}.zocial-reddit:before{content:">"}.zocial-rss:before{content:"R"}.zocial-scribd:before{content:"}"}.zocial-skype:before{content:"S"}.zocial-smashing:before{content:"*"}.zocial-songkick:before{content:"k"}.zocial-soundcloud:before{content:"s"}.zocial-spotify:before{content:"="}.zocial-statusnet:before{content:"\00E2"}.zocial-steam:before{content:"b"}.zocial-stripe:before{content:"\00A3"}.zocial-stumbleupon:before{content:"/"}.zocial-tumblr:before{content:"t"}.zocial-twitter:before{content:"T"}.zocial-viadeo:before{content:"H"}.zocial-vimeo:before{content:"V"}.zocial-vk:before{content:"N"}.zocial-weibo:before{content:"J"}.zocial-wikipedia:before{content:","}.zocial-windows:before{content:"W"}.zocial-wordpress:before{content:"w"}.zocial-xing:before{content:"X"}.zocial-yahoo:before{content:"Y"}.zocial-yelp:before{content:"y"}.zocial-youtube:before{content:"U"}


